html {
  font-family: sans-serif;
}

#container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  background-color: black;
}

.display1 {
  display: flex;
  border: 1px solid black;
  height:80px;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  background-color: white;
  font-size: 20px;
}

#numButtons
 {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
 }

#opButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.int1,
.int2,
.int3,
.int4,
.int5,
.int6,
.int7,
.int8,
.int9,
.int0 {
  width: 125px;
  height: 50px; 
  font-size: 20px;
}

.addButton,
.subtractButton,
.divideButton,
.multiplyButton,
.clearButton,
.deleteButton,
.equalButton {
  width: 125px;
  height: 50px; 
  font-size: 20px;
}

.equalButton {
  flex-basis: 77%;
}

.int0 {
  flex-basis: 77%;
}

.title {
  text-align: center;
}