#container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  margin: 0 auto;
}

.display1 {
  display: flex;
  border: 1px solid black;
  height:100px;
}

#numButtons
 {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

#opButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.int1,
.int2,
.int3,
.int4,
.int5,
.int6,
.int7,
.int8,
.int9,
.int0 {
  width: 125px;
  height: 50px; 
}

.addButton,
.subtractButton,
.divideButton,
.multiplyButton,
.clearButton,
.deleteButton,
.equalButton {
  width: 125px;
  height: 50px; 
}

.equalButton {
  flex-basis: 77%;
}

.int0 {
  flex-basis: 77%;
}